.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo {
    font-size: 2rem;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navigation a:hover {
    color: #c5cae9;
  }
  