/* Основные стили */
.container {
  font-family: 'Arial, sans-serif';
  background-color: #e6f7ff; /* светло-синий фон */
  min-height: 100vh;
  padding: 20px;
}
ададдада
аааа
.title {
  text-align: center;
  color: #004080; /* насыщенный синий цвет */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.flightList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flightCard {
  background-color: #cceeff; /* светло-синий цвет карточки */
  border: 2px solid #80d4ff; /* граница синего цвета */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.flightCard:hover {
  transform: scale(1.05);
}

.flightInfo {
  color: #004080; /* основной текст в темно-синем */
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.city {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.time {
  font-size: 1rem;
  display: block;
  margin-bottom: 5px;
}

.price {
  color: #0066cc; /* яркий синий для цены */
  font-weight: bold;
  font-size: 1.1rem;
}

.carrier, .aircraft {
  font-size: 1rem;
  display: block;
  margin-bottom: 5px;
}
