header {
    background-color: #ffcc00; /* ярко-желтый заголовок */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}